body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(0 0 0 / 88%);
    background-image: url("background.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}

.main {

    background-position: center;
    background-size: cover;
}

.icon {
    padding-left: 55px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    width: 240px;
    float: left;
    height: 253px;
    margin-left: -15px;

}

ul {
    float: left;
    align-items: center;
    width: 200px;
}

ul li {
    list-style: none;
    margin-bottom: 30px;
    margin-right: 0px;
    font-size: large;
}

ul li a {
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: blue;
}

.search {
    width: 300px;
    float: right;
    margin-left: 0px;
}

.srch {
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #4b1eb3;
    color: aliceblue;
    margin-top: 13px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 16px;
    border-right: none;
    padding: 10px;
    float: left;
}

.btn {
    width: 100px;
    height: 40px;
    background: blue;
    border: 2px solid blue;
    margin-top: 13px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    float: right;

}

.btn:focus {
    outline: none;
}

.srch:focus {
    outline: none;
}

header {
    padding: 20px;
}